# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.build/
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.venv/
venv/

# Editors
.vscode/
.idea/

# Logs
logs/
*.log

# Playwright cache
playwright/.cache/

# OS
.DS_Store
